In [9]:
import numpy as np
import pandas as pd
# import sklearn as sk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

## Books

Id 0

- The count of monte cristo
- Adventure fiction

Id 1

- Twenty years after
- Historical fiction

Id 2

- Sense and sensibility
- Romance novel

In [12]:
books = [0, 1, 2]
genres = [0, 1, 2]

In [2]:
books_path = '../files/'

In [98]:
# with open(books_path + 'the-count-of-monte-cristo.txt', 'r') as file:
#     book = file.read().replace('\n', '')

# book = np.array([book])

In [3]:
with open(books_path + 'the-count-of-monte-cristo.txt', 'r') as file:
    book = [line.strip() for line in file.readlines()]
    
book = np.array(book)

In [4]:
vect = CountVectorizer()

In [5]:
train = vect.fit_transform(book)
train

<61689x16706 sparse matrix of type '<class 'numpy.int64'>'
	with 427456 stored elements in Compressed Sparse Row format>

In [6]:
train_array = train.toarray()
train_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [7]:
features = vect.get_feature_names_out()
# features[1012]

In [8]:
pd.DataFrame(train_array, columns=features)

,000,0009m,0011m,0019m,0023m,0025m,0027m,0029m,0035m,0037m,...,καὶ,μὲν,μήζε,πατρὸς,προδοσίαν,προδότου,τὸ,ἄτην,ἡμῖν,ὄνομα
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61686,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0